MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=kairodb
MYSQL_USER=user
MYSQL_PASSWORD=password

DB_HOST=mysql
DB_PORT=3306
DB_USER=user

DB_PASS=password
DB_NAME=kairodb
BACKEND_PORT=3000
JWT_SECRET=my-super-secret-key

VITE_API_PORT=3000
VITE_API_URL=/api

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=